<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627794157926-27vd64kkq761lfkl3hphjo43joi6bktj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627794157926-27vd64kkq761lfkl3hphjo43joi6bktj</string>
	<key>API_KEY</key>
	<string>AIzaSyC90hkR9MIqR3_DF5xSmp0P6Fo2I01RQv4</string>
	<key>GCM_SENDER_ID</key>
	<string>627794157926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.application</string>
	<key>PROJECT_ID</key>
	<string>qrcafe-428a3</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcafe-428a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627794157926:ios:85e6499bd29e14e3abe8a7</string>
</dict>
</plist>